$background-image_1: url(../assets/imageAIGeneratorLogo.png); // logo 520x160
$background-image_2: url(../assets/frame-427318910@2x.png); // humanoid
$background-image_3: url(../assets/aimage-10@2x.png); // blue humanoid
$background-image_4: url(../assets/preview.png); // preview
