// client/src/styles/_variables.scss

$color_1: var(--color-white);
$color_2: var(--color-black);
$color_3: inherit;
$color_4: var(--fontcolorforgenerator);
$color_5: var(--color-menu-event);
$color_6: var(--color-gray-100);
$color_7: var(--color-gray-200);
$color_8: var(--color-gray-300);
$color_9: var(--color-gray-400);
$color_10: var(--color-lime);

$font-family_1: inherit;
$font-family_2: var(--font-globally-designated);

$background-color_1: var(--color-gainsboro);
$background-color_2: transparent;
$background-color_3: var(--labelbacground);
--background-color_4: var(--color-gray-200);
$background-color_5: var(--color-gray-300);
$background-color_6: var(--color-menu-event-transition);
$background-color_6: var(--color-background-button);

//animation

$animation: var(--s);
$animation-delay: var(--d);
