// client/src/pages/forgotPassword.scss

@import '../styles/media-queries';
@import '../styles/variables';
@import '../styles/images';

.forgotPassword {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(155.84deg, #15181a, #0a0c0e 44.92%, #0b1013);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color_1);
  font-family: var(--font-family_2);

  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
    min-height: 100vh;
    padding: 0 var(--padding-61xl);
    box-sizing: border-box;

    .forgot-password-page {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      top: 50%;
      left: 50%;
      width: 37.5rem;
      height: 31.25rem;
      padding: 40px;
      margin: 20px auto;
      transform: translate(-50%, -55%);
      background: rgba(0, 0, 0, 0.9);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
      border-radius: 10px;

      .forgotPasswordTitle {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-size: var(--font-size-21xl);
          margin: 0;
        }

        p {
          font-size: var(--font-size-xl);
        }
      }

      form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 2rem;
        width: 80%;
        border: 0;

        .user-box {
          position: relative;
          width: 100%;

          input {
            padding: 10px 0;
            width: 100%;
            font-size: var(--font-size-base);
            color: var(--color_1);
            margin-bottom: 1.85rem;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;

            &:focus {
              ~ label {
                top: -35px;
                left: 0;
                color: var(--color_1);
                font-size: var(--font-size-xs);
              }
            }

            &:valid,
            &:focus {
              ~ label {
                left: 0;
                color: var(--color_1);
                font-size: var(--font-size-5xl);
              }
            }
          }

          label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: var(--font-size-13xl);
            color: var(--color_1);
            pointer-events: none;
            transition: 0.5s;
            transform-origin: top left;
            transform: translateY(0);
          }
        }

        button {
          position: relative;
          display: inline-block;
          padding: 10px 20px;
          font-weight: bold;
          color: var(--color_1);
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          transition: 0.5s;
          margin-top: 40px;
          letter-spacing: 3px;

          &:hover {
            background: var(--color-background-button);
            color: var(--color_9);
            border-radius: 5px;
          }

          span {
            position: absolute;
            display: block;

            &:nth-child(1) {
              top: 0;
              left: -100%;
              width: 100%;
              height: 2px;
              background: linear-gradient(90deg, transparent, var(--color_5));
              animation: btn-anim1 1.5s linear infinite;
            }

            &:nth-child(2) {
              top: -100%;
              right: 0;
              width: 2px;
              height: 100%;
              background: linear-gradient(180deg, transparent, var(--color_5));
              animation: btn-anim2 1.5s linear infinite;
              animation-delay: 0.375s;
            }

            &:nth-child(3) {
              bottom: 0;
              right: -100%;
              width: 100%;
              height: 2px;
              background: linear-gradient(270deg, transparent, var(--color_5));
              animation: btn-anim3 1.5s linear infinite;
              animation-delay: 0.75s;
            }

            &:nth-child(4) {
              bottom: -100%;
              left: 0;
              width: 2px;
              height: 100%;
              background: linear-gradient(360deg, transparent, var(--color_5));
              animation: btn-anim4 1.5s linear infinite;
              animation-delay: 1.125s;
            }
          }
        }
      }
    }

    p {
      &:last-child {
        color: var(--color_4);
        font-size: var(--font-size-xl);
      }
    }

    a.a2 {
      color: var(--color_1);
      text-decoration: none;

      &:hover {
        background: transparent;
        color: var(--color_5);
        border-radius: 5px;
      }
    }
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
