// client/src/pages/TermsAndPrivacyPolicy.scss

@import '../styles/variables';

.termsandprivacypolicy {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(155.84deg, #15181a, #0a0c0e 44.92%, #0b1013);
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  .main2 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-61xl);
    .termsconainer {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      max-width: 80rem;
      padding: var(--padding-43xl) var(--padding-3xs);
      gap: var(--gap-17xl);
      text-align: center;
      font-size: var(--font-size-45xl);
      color: var(--color_1);
      font-family: var(--font-family_2);
      .terms-and-privacy-title {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: inherit;
        font-weight: 400;
        font-family: var(--font-family_1);
        background: linear-gradient(90.36deg, #00ff10, rgba(204, 255, 0, 0.8));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .terms-and-privacy-content {
        flex-direction: column;
        align-items: flex-start;
        h2 {
          font-size: 2rem;
          text-align: center;
          background: linear-gradient(
            90.36deg,
            #00ff10,
            rgba(204, 255, 0, 0.8)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        h3,
        h4 {
          font-size: 1.5rem;
          text-align: left;
          background: linear-gradient(
            90.36deg,
            #00ff10,
            rgba(204, 255, 0, 0.8)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          font-size: 1rem;
          text-align: left;
          a {
            background: linear-gradient(
              90.36deg,
              #00ff10,
              rgba(204, 255, 0, 0.8)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none; // Remover sublinhado padrão

            &:hover {
              background: linear-gradient(
                90.36deg,
                #00ff10,
                rgba(204, 255, 0, 0.8)
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            &:active {
              background: linear-gradient(
                90.36deg,
                #00ff10,
                rgba(204, 255, 0, 0.8)
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            &:visited {
              background: linear-gradient(
                90.36deg,
                #00ff10,
                rgba(204, 255, 0, 0.8)
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        ul {
          font-size: 1rem;
          li {
            text-align: left;
          }
        }
      }

      .image-maker1 {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: var(--font-size-xl);
        text-align: left;
      }
    }
  }
}
