//client/src/components/AIImageGenerationContainer.scss
@import '../styles/media-queries'; /* Import media queries */
@import '../styles/variables'; /* Import variables */

.thefutureisai {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  background: linear-gradient(180deg, #000, #14181b);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-18xl) var(--padding-64xl);
  gap: var(--gap-68xl);
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-family-2);

  .a-fully-integrated {
    align-self: stretch;
    position: relative;
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: var(--font-family-1);
    white-space: pre-wrap;
  }

  .thefutureisai1 {
    align-self: stretch;
    overflow: hidden;
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    font-size: var(--font-size-45xl);

    .thefutureisaiimage {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: flex-start;

      .image-10-icon {
        // align-self: stretch;
        // position: relative;
        flex: 1;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: cover;
      }
    }

    .thefutureisaidescriptioncontai {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
      gap: var(--gap-3xl);

      .the-future-is {
        align-self: stretch;
        margin: 0;
        position: relative;
        font-size: inherit;
        font-weight: 400;
        font-family: var(--font-family-1);
      }

      .thefutureisaidescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        padding: 0 var(--padding-111xl);
        gap: var(--gap-11xl);
        font-size: var(--font-size-5xl);

        .aidescriptioncontainer {
          align-self: stretch;
          overflow: hidden;
          padding: var(--padding-11xl) 0;
          gap: var(--gap-49xl);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          .infinite-horizons {
            margin: 0;
            position: relative;
            font-size: inherit;
            font-weight: 400;
            font-family: var(--font-family-1);
          }

          .ai-powered-image-generation-container {
            margin: 0;
            position: relative;
            font-size: var(--font-size-xl);
            text-align: left;
            display: inline-block;
            width: 23.19rem;

            .artificial-intelligence {
              background: linear-gradient(
                90.36deg,
                var(--color-lime),
                rgba(204, 255, 0, 0.8)
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}
