// client/src/components/AIImageCreator.scss
@import '../styles/media-queries';
@import '../styles/variables';

.main3 {
  align-self: stretch;
  display: flex;
  background: linear-gradient(0deg, #000, #14181b);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-61xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color_1); /*revised */
  font-family: var(--font-family_2); /*revised */
  .maincontainer-parent {
    align-self: stretch;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .maincontainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: var(--padding-43xl) var(--padding-3xs);
      gap: var(--gap-17xl);
      .create-amazing-photos-container {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: inherit;
        font-weight: 400;
        font-family: var(--font-family_1); /*revised */
        .photos {
          background: linear-gradient(
            90.36deg,
            #00ff10,
            rgba(204, 255, 0, 0.8)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .image-maker-is {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: var(--font-size-xl);
      }
    }
  }
  .frame-icon {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
}
