.card {
  // max-width: 24rem;
  display: flex;
  border-radius: 0.75rem;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.75rem;
  }

  .group-hover-container {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #10131f;

    border-radius: 0.375rem;

    .prompt {
      color: #34d399;
      font-size: 0.875rem;
      overflow-y: auto;
    }

    .user-details-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .user-avatar {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: #34d399;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.75rem;
        font-weight: bold;
      }

      .user-name {
        color: white;
        font-size: 0.875rem;
      }
    }

    .download-button {
      outline: none;
      background: transparent;
      border: none;

      .download-icon {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        filter: invert(1);
      }
    }
  }

  &:hover .group-hover-container {
    display: flex;
  }
}
