// client/src/components/Footer.scss

@import '../styles/media-queries';
@import '../styles/variables';
@import '../styles/images';

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, #000, #14181b);
  color: var(--color-white);
  // assuming $color_1 is defined in your variables padding: 100px 0 30px;
  border-top-left-radius: 75px;
  font-size: 13px;
  line-height: 20px;
  font-family: var(--font-family-2);
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .col {
      flex-basis: 25%;
      padding: 10px;
      &:nth-child(2) {
        flex-basis: 15%;
      }
      &:nth-child(3) {
        flex-basis: 15%;
      }
      .sentence {
        font-size: var(--font-size-xl);
      }
      h3 {
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
      }
      .email-id {
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 12px;
          a {
            text-decoration: none;
            color: var(--color-white);
          }
        }
      }
      .underline {
        width: 100%;
        height: 5px;
        background: #767676;
        border-radius: 3px;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
        span {
          width: 15px;
          height: 100%;
          background: #fff;
          border-radius: 3px;
          position: absolute;
          top: 0;
          left: 10px;
          animation: moving 2s linear infinite;
        }
      }
      form {
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
        .far {
          font-size: 18px;
          margin-right: 10px;
        }
        input {
          width: 100%;
          background: transparent;
          color: --color-gainsboro;
          border: 0;
          outline: none;
        }
        button {
          background: transparent;
          border: 0;
          outline: none;
          cursor: pointer;
          .fas {
            font-size: 16px;
            color: --color-gainsboro;
          }
        }
      }
      .social-icons {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 10px;
        svg {
          display: flex;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid white;
          text-align: center;
          color: black;
          background: #fff;
          margin-right: 15px;
          cursor: pointer;
          flex-direction: row;
          justify-content: space-around;
          padding: 0.5rem;
        }
      }
    }
  }
}
.logo {
  width: 80px;
  margin-bottom: 30px;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
