@import '../styles/media-queries';
@import '../styles/variables';

.header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-5xs) 0;
  cursor: auto;
  .header-child {
    width: 16.25rem;
    height: 5rem;
    object-fit: cover;
    position: relative;
  }
  .navegationbar-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 34.38rem;
    .navegationbar {
      margin: 0;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: var(--gap-xl);
      text-align: left;

      font-size: var(--font-size-xl);

      color: $color_1;
      font-family: $font-family_2;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      .menulinks {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-xl);
        .genarate {
          position: relative;


          cursor: pointer;

          flex-shrink: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
          justify-content: center;
          padding: var(--padding-3xs);
          color: $color_3;
        }
      }
    }
  }
}
















/*.home2 {
  position: relative;
}
.home1 {
  text-decoration: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: $color_3;
}

.burguermenu-child {
  position: relative;
  width: 1.25rem;
  height: 0;
  object-fit: cover;
}
.burguermenu {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs);
  background-color: $background-color_2;
  width: 1.88rem;
  height: 1.75rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
*/