// loader.scss

// .loader {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

// .spinner {
//   width: 10rem;
//   height: 10rem;
//   animation: spin 1s linear infinite;
// }

// @keyframes spin {
//   to {
//     transform: rotate(360deg);
//   }
// }
$green: #04fe10;
$blue: #7bd905;
$red: #04fe10;
$yellow: #9fcf02;
$white: #eee;

// scaling... any units
$width: 100px;

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

// demo-specific
body {
  background-color: $white;
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}
