// client/src/components/Loader.scss

@import '../styles/variables'; /* Importa as variáveis definidas */

.input {
  width: 25vw;
  height: 50vh;
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.bg {
  border: none !important;
  width: 25vw;
  height: 50vh;
  position: absolute;
  z-index: 80;
  background: linear-gradient(180deg, #0a0c0e 44.92%, #0f1215);
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vmin;
  height: 50vmin;
  position: relative;

  .dot {
    width: 50%;
    position: absolute;
    height: 7vmin;
    left: 0;
    transform-origin: 100% 50%;
    z-index: 90;
    animation: over-ring calc(var(--s) * 2) linear 0s infinite,
      spin calc(var(--s) * 8) linear 0s infinite;

    &:before {
      content: '';
      width: 5.5vmin;
      height: 5.5vmin;
      left: 0;
      box-sizing: border-box;
      position: absolute;
      background: var(--color_10);
      border: 1px solid var(--color_5);
      box-shadow: 0 0 0 5px var(--color_7), 0 2px 0 4px var(--color_5);
      border-radius: 100%;
      animation: ball var(--s) ease-in-out 0s infinite alternate;
    }

    &:nth-child(1) {
      animation-delay: calc(var(--d) * 0), calc(var(--d) * 0);
      &:before {
        animation-delay: calc(var(--d) * 0);
      }
    }

    &:nth-child(2) {
      animation-delay: calc(var(--d) * -1), calc(var(--d) * -4);
      &:before {
        animation-delay: calc(var(--d) * -1);
      }
    }

    &:nth-child(3) {
      animation-delay: calc(var(--d) * -2), calc(var(--d) * -8);
      &:before {
        animation-delay: calc(var(--d) * -2);
      }
    }

    &:nth-child(4) {
      animation-delay: calc(var(--d) * -3), calc(var(--d) * -12);
      &:before {
        animation-delay: calc(var(--d) * -3);
      }
    }

    &:nth-child(5) {
      animation-delay: calc(var(--d) * -4), calc(var(--d) * -16);
      &:before {
        animation-delay: calc(var(--d) * -4);
      }
    }

    &:nth-child(6) {
      animation-delay: calc(var(--d) * -5), calc(var(--d) * -20);
      &:before {
        animation-delay: calc(var(--d) * -5);
      }
    }

    &:nth-child(7) {
      animation-delay: calc(var(--d) * -6), calc(var(--d) * -24);
      &:before {
        animation-delay: calc(var(--d) * -6);
      }
    }

    &:nth-child(8) {
      animation-delay: calc(var(--d) * -7), calc(var(--d) * -28);
      &:before {
        animation-delay: calc(var(--d) * -7);
      }
    }

    &:nth-child(9) {
      animation-delay: calc(var(--d) * -8), calc(var(--d) * -32);
      &:before {
        animation-delay: calc(var(--d) * -8);
      }
    }

    &:nth-child(10) {
      animation-delay: calc(var(--d) * -9), calc(var(--d) * -36);
      &:before {
        animation-delay: calc(var(--d) * -9);
      }
    }

    &:nth-child(11) {
      animation-delay: calc(var(--d) * -10), calc(var(--d) * -40);
      &:before {
        animation-delay: calc(var(--d) * -10);
      }
    }

    &:nth-child(12) {
      animation-delay: calc(var(--d) * -11), calc(var(--d) * -44);
      &:before {
        animation-delay: calc(var(--d) * -11);
      }
    }
  }
  .ring {
    border: 1.5vmin solid var(--color_10); /* Utiliza a variável correta */
    width: 64%;
    height: 64%;
    border-radius: 100%;
    z-index: 100;
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ball {
  100% {
    left: 12vmin;
    width: 4vmin;
    height: 4vmin;
  }
}

@keyframes over-ring {
  0%,
  50% {
    z-index: 90;
  }
  51%,
  100% {
    z-index: 91;
  }
}
