@import '../styles/variables'; /* Importa as variáveis definidas */

$border-top-color_1: transparent;
$border-top-color_2: #04fe10;
$border-right-color_1: #7bd905;
$border-right-color_2: transparent;
$border-bottom-color_1: transparent;
$border-bottom-color_2: #89fe04;
$border-left-color_1: #81fe04;

@keyframes centerRing {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(50turn);
  }
}
@keyframes ring-7 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-50turn);
  }
}
@keyframes ring-6 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(50turn);
  }
}
@keyframes ring-5 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-50turn);
  }
}
@keyframes ring-4 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-50turn);
  }
}
@keyframes ring-3 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(50turn);
  }
}
@keyframes ring-2 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(50turn);
  }
}
@keyframes ring-1 {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(50turn);
  }
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  background: none;

  .static {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    .static-center {
      width: 35px;
      height: 35px;
      background: none;
      border: 12px solid #04fe10;
      border-top-color: $border-top-color_1;
      border-radius: 50%;
      rotate: 45deg;
    }

    .static-ring-7 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border: 7px solid #04fe10;
      border-top-color: $border-top-color_1;
      border-bottom-color: $border-bottom-color_1;
      border-radius: 50%;
      rotate: -45deg;
      background: none;
      // z-index: 1;
    }

    .static-ring-6 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      border: 7px solid #04fe10;
      border-top-color: $border-top-color_2;
      border-bottom-color: $border-bottom-color_2;
      border-left-color: $border-left-color_1;
      border-right-color: $border-right-color_1;
      border-radius: 50%;
      rotate: -45deg;
    }

    .static-ring-5 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 165px;
      height: 165px;
      border: 5.5px solid #04fe10;
      border-top-color: $border-top-color_1;
      border-right-color: $border-right-color_2;
      border-radius: 50%;
      rotate: 45deg;
    }
    .static-ring-4 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      border: 2px solid #04fe10;
      border-top-color: $border-top-color_2;
      border-bottom-color: $border-bottom-color_2;
      border-left-color: $border-left-color_1;
      border-right-color: $border-right-color_1;
      border-radius: 50%;
      rotate: -45deg;
    }

    .static-ring-3 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 230px;
      height: 230px;
      border: 13px solid #04fe10;
      border-top-color: $border-top-color_1;
      border-radius: 50%;
      rotate: -45deg;
    }
    .static-ring-2 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 280px;
      border: 7px solid #04fe10;
      border-top-color: $border-top-color_2;
      border-bottom-color: $border-bottom-color_2;
      border-left-color: $border-left-color_1;
      border-right-color: $border-right-color_1;
      border-radius: 50%;
      rotate: -45deg;
    }
    .static-ring-1 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 310px;
      height: 310px;
      border: 2px solid #04fe10;
      border-top-color: $border-top-color_2;
      border-bottom-color: $border-bottom-color_2;
      border-left-color: $border-left-color_1;
      border-right-color: $border-right-color_1;
      border-radius: 50%;
    }
  }

  .Animations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    .center {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 35%;
        height: 35%;
        border: 12px solid #04fe10;
        border-top-color: $border-top-color_1;
        border-radius: 50%;
        rotate: 45deg;
        animation: centerRing 37.5s ease infinite;
      }
    }
    .ring-7 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 80px;
        height: 80px;
        border: 7px solid #04fe10;
        border-top-color: $border-top-color_1;
        border-bottom-color: $border-bottom-color_1;
        border-radius: 50%;
        rotate: -45deg;
        animation: ring-7 50s ease infinite;
      }
    }
    .ring-6 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 120px;
        height: 120px;
        border: 7px solid #04fe10;
        border-top-color: $border-top-color_2;
        border-bottom-color: $border-bottom-color_2;
        border-left-color: $border-left-color_1;
        border-right-color: $border-right-color_1;
        border-radius: 50%;
        rotate: -45deg;
        animation: ring-6 75s ease infinite;
      }
    }
    .ring-5 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 165px;
        height: 165px;
        border: 5.5px solid #04fe10;
        border-top-color: $border-top-color_1;
        border-right-color: $border-right-color_2;
        border-radius: 50%;
        rotate: 45deg;
        animation: ring-5 40s ease infinite;
      }
    }
    .ring-4 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 200px;
        height: 200px;
        border: 2px solid #04fe10;
        border-top-color: $border-top-color_2;
        border-bottom-color: $border-bottom-color_2;
        border-left-color: $border-left-color_1;
        border-right-color: $border-right-color_1;
        border-radius: 50%;
        rotate: -45deg;
        animation: ring-4 75s ease infinite;
      }
    }
    .ring-3 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 230px;
        height: 230px;
        border: 13px solid #04fe10;
        border-top-color: $border-top-color_1;
        border-radius: 50%;
        rotate: -45deg;
        animation: ring-3 60s ease infinite;
      }
    }
    .ring-2 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 280px;
        height: 280px;
        border: 7px solid #04fe10;
        border-top-color: $border-top-color_2;
        border-bottom-color: $border-bottom-color_2;
        border-left-color: $border-left-color_1;
        border-right-color: $border-right-color_1;
        border-radius: 50%;
        rotate: -45deg;
        animation: ring-2 37.5s ease infinite;
      }
    }
    .ring-1 {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 25rem;
      height: 25rem;
      background: none;
      // z-index: 1;
      &::after {
        content: '';
        width: 310px;
        height: 310px;
        border: 2px solid #04fe10;
        border-top-color: $border-top-color_2;
        border-bottom-color: $border-bottom-color_2;
        border-left-color: $border-left-color_1;
        border-right-color: $border-right-color_1;
        border-radius: 50%;
        animation: ring-1 75s ease infinite;
      }
    }
  }
}
