.corem-ipsum-dolor {
  margin: 0;
  width: 48.56rem;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-pathway-gothic-one);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
