.the-team-and {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-45xl);
  font-weight: 400;
  font-family: var(--font-pathway-gothic-one);
  color: var(--color-white);
  text-align: center;
}
