@import '../styles/media-queries';
@import '../styles/variables';
@import '../styles/images';

.aboutmeuser {
  max-width: 47.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-19xl) var(--padding-49xl);
  box-sizing: border-box;
  gap: var(--gap-10xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: $color_1;
  font-family: $font-family_1;
  background-color: rgba(255, 255, 255, 0.074);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid #00ff10;
  border-radius: 0.7rem;

  .userdata {
    display: flex;
    position: relative;
    min-height: 19.438rem;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    .user-name-parent {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      flex-shrink: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-3xs);
      .user-name {
        position: relative;
      }
      .user-name-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid var(--color-lime);
        overflow: hidden;
        flex-direction: row;
        padding: var(--padding-8xs);
        .user-name1 {
          border: 0;
          outline: 0;
          font-family: $font-family_2;
          font-size: var(--font-size-xs);
          background-color: $background-color_2;
          position: relative;
          color: $color_4;
          text-align: left;
          display: inline-block;
          width: 18.983rem;
          flex-shrink: 0;
        }
      }
    }
  }
}
