// client/src/components/WhatIsAiImageGeneratorContainer.scss

@import '../styles/media-queries';
@import '../styles/variables';
@import '../styles/images';

.whatisgeneratorcontainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-81xl);
  background: linear-gradient(0deg, #000, #14181b);
  overflow: hidden;
  padding: var(--padding-41xl) 0;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color_1);
  font-family: var(--font-family_2);

  .whatisgeneratorexplain {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-17xl);

    .what-is-ai-container {
      margin: 0;
      position: relative;
      font-size: inherit;
      font-weight: 400;
      font-family: var(--font-family_1);

      .ai {
        background: linear-gradient(90.36deg, #00ff10, rgba(204, 255, 0, 0.8));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .an-ai-image {
      margin: 0;
      position: relative;
      font-size: var(--font-size-xl);
      display: inline-block;
      width: 59.38rem;
    }
  }

  .whatisgeneratorhowto {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-81xl);

    .how-to-make-container {
      margin: 0;
      font-size: inherit;
      font-weight: 400;
      font-family: var(--font-family_1);
      align-self: stretch;
      position: relative;

      .ai {
        background: linear-gradient(90.36deg, #00ff10, rgba(204, 255, 0, 0.8));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .frame-parent {
      // align-self: stretch;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // align-items: flex-start;
      justify-content: space-between;
      padding: 0 var(--padding-11xl);
      font-size: var(--font-size-base);
      
      .number1-1-parent {
        border-radius: var(--br-xl);
        background-color: --background-color_4;
        width: 21.88rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        padding: 2 var(--padding-3xs);
        margin: 10px;
        box-sizing: border-box;
        gap: var(--gap-61xl);
        min-height: 31.25rem;
        // .number1-1-icon {
        //   align-self: stretch;
        //   position: relative;
        //   max-width: 100%;
        //   overflow: hidden;
        //   height: 21.94rem;
        //   flex-shrink: 0;
        //   object-fit: cover;
        // }
        .think-of-a {
          padding: 10px;
          align-self: stretch;
          position: relative;
          margin: 0;
        }
      }
      .number2-1-parent {
        border-radius: var(--br-xl);
        background-color: --background-color_4;
        width: 21.88rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2 var(--padding-3xs);
        margin: 10px;
        box-sizing: border-box;
        gap: var(--gap-61xl);
        max-height: 35.25rem;
        // .number2-1-icon {
        //   // align-self: stretch;
        //   // position: relative;
        //   // max-width: 100%;
        //   // overflow: hidden;
        //   // height: 21.94rem;
        //   // flex-shrink: 0;
        //   // object-fit: cover;
        // }
        .think-of-a {
          padding-top: 0px;
          padding: 10px;
          margin-bottom: 10px;
          align-self: stretch;
          position: relative;
          margin: 0;
        }
      }
      .number3-1-parent {
        border-radius: var(--br-xl);
        background-color: var(--background-color_4);
        width: 21.88rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2 var(--padding-3xs);
        margin: 10px;
        box-sizing: border-box;
        gap: var(--gap-61xl);
        min-height: 31.25rem;

        // .number1-1-icon,
        // .number2-1-icon,
        // .number3-1-icon {
        //   align-self: stretch;
        //   position: relative;
        //   max-width: 100%;
        //   overflow: hidden;
        //   flex-shrink: 0;
        //   object-fit: cover;
        // }

        .think-of-a {
          padding: 10px;
          align-self: stretch;
          position: relative;
          margin: 0;
        }
      }

      // .number1-1-parent {
      //   .number1-1-icon {
      //     height: 21.94rem;
      //   }
      // }

      // .number2-1-parent {
      //   .number2-1-icon {
      //     height: 20.5rem;
      //   }
      // }

      // .number3-1-parent {
      //   .number3-1-icon {
      //     height: 23.38rem;
      //   }
      // }
    }
  }
}
