$color_1: var(--color-white);
$color_2: var(--color-black);
$color_3: inherit;
$color_4: var(--fontcolorforgenerator);

$font-family_1: inherit;
$font-family_2: var(--font-fugaz-one);

$background-color_1: var(--color-gainsboro);
$background-color_2: transparent;
$background-color_3: var(--labelbacground);
$background-color_4: var(--color-gray-200);
