@import "../styles/media-queries";
@import "../styles/variables";

.buttonstartcreating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: $color_2;
  font-family: $font-family_2;
  .ellipse-group {
    cursor: pointer;
    text-decoration: none;
    border-radius: var(--br-3xs);
    background: linear-gradient(90.36deg, #00ff10, rgba(204, 255, 0, 0.8));
    width: 16.25rem;
    height: 3.75rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    color: $color_3;
    .frame-inner {
      position: relative;
      border-radius: 50%;
      background-color: $background-color_1;
      width: 0.06rem;
      height: 0.06rem;
    }
    .start-creating-for {
      position: relative;
      white-space: pre-wrap;
    }
  }

  .create-your-digital {
    margin: 0;
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-family: $font-family_1;
    color: $color_1;
  }
}
