@import "../styles/media-queries";
@import "../styles/variables";
@import "../styles/images";

.form {
  width: 100%;
  .form-tittle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 2.6rem;

    .button-Surprise {
      cursor: pointer;
      border-radius: var(--br-3xs);
      background: linear-gradient(90.36deg, #00ff10, rgba(204, 255, 0, 0.8));
      height: 2.44rem;
      overflow: hidden;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: var(--padding-3xs);
      box-sizing: border-box;
      gap: var(--gap-3xs);
    }
  }
  .form-field {
    margin: 0;
    align-self: stretch;
    border-radius: var(--br-xl);
    background-color: $background-color_3;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xl) var(--padding-4xs);
    gap: var(--gap-31xl);
    opacity: 0.8;
    .input-field {
      border: 0;
      outline: 0;
      font-family: $font-family_2;
      font-size: var(--font-size-sm);
      background-color: $background-color_2;
      flex: 1;
      position: relative;
      color: $color_4;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.form-field {
  margin: 0;
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: $background-color_3;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-4xs);
  gap: var(--gap-31xl);
  opacity: 0.8;
  .input-field {
    border: 0;
    outline: 0;
    font-family: $font-family_2;
    font-size: var(--font-size-sm);
    background-color: $background-color_2;
    flex: 1;
    position: relative;
    color: $color_4;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
